* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-size: 20px;
    background-color: #FAF7FF;
    font-family: 'Ubuntu', sans-serif;
}

/* HERO SECTION */

.hero {
    width: 100%;
    height: 100vh;
    z-index: 2000;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0 10px;

    background-image: url(images/Background/hero-background.jpg);
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    
}

.heading h1 {
    font-size: 2.5rem;
    text-align: right;
    color: #414141;
    padding: 0 0 0 3rem ;
}

.heading h2 {
    font-family: 'Signika Negative' , sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: right;
    color: #414141;
    max-width: 550px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    margin-right: 10px;
}

.cta {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    color: #faf7ff;
    height: 40px;
    width: 180px;
    background-color: #8685ef;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px #8685ef;
    transition: all 0.3s ease-in-out;
}

.hero button:hover {
    color: #8685ef;
    background-color: #FAF7FF;
}

.drawer {
    width: 33.3rem;
    height: 27.1rem;
    margin-left: 10px;
    background: no-repeat center center / contain url(images/Background/Drawer\ Image.png);
    background-repeat: no-repeat;
    
}

/* SHOWCASE OF ARTCLES */

.showcase {
    width: 100%;
    height: 70rem;
    margin: 0;
    z-index: 1020;
    background-color: #FAF7FF;
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.disblay {
    width: 100%;
    height: 49rem;
    margin: 0;
}
.disblay h3 {
    margin: 3.125rem 0;  
    font-family: 'Signika Negative' , sans-serif;
    font-size: 2rem;
    color: #414141;
    text-align: center;
}

.disblay h4 {
    margin: 0;  
    margin-block-start: 0;
    font-family: 'Nunito Sans' , sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #414141;
    padding: 0 3rem;
    text-align: center;
    opacity: 60%;
    max-width: 78rem;
}

.disblay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.carousel {
    height: 17rem;
    width: 100%;
    position: relative;

    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.carousel button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    padding: 0 10px;
    top: 50%;
}
.arrow-right {
    background: no-repeat center center / contain url(images/Background/right-chevron.svg);
}
.arrow-right:hover {
    background-color: #8685ef;
    opacity: 50%;
    transform: scale(1.5);
}
.arrow-left {
    background: no-repeat center center / contain url(images/Background/left-chevron.svg);
}
.arrow-left:hover {
    background-color: #8685ef;
    opacity: 50%;
    transform: scale(1.5);
}
.displayItem {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.first {
    background-color:lightgrey;
    width: 200px;
    height: 180px;
    border-radius: 20px;
}

.first:hover {
    background-color: #FAF7FF;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 10px #595767;
}

.first-img {
    width: 200px;
    height: 180px;
}

.second {
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    /*box-shadow: 5px -1px 10px #41414177;*/
    padding: 25px 15px;
    animation: grow .3s forwards;
}

@keyframes grow {
    from  {
        scale: 0.9;
        transform: translateY(10px);
    }
    to {
        scale: 1;
        transform: translateY(0);
    }
}

.second:hover {
    background-color: #FAF7FF;
    color: #8685ef;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px #8685ef;
}

.animateTable {
    animation: fade .3s forwards;
}

@keyframes fade {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/*
.showcase button {
    width: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
}
*/

.showcase button:hover {
    color: #8685ef;
    background-color: #FAF7FF;
}

/* Services */

.services {
    width: 100%;
    height: 50rem;
    margin: 0;
    color: #FAF7FF;
    background-color: #414141;
    position: relative;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.services h3 {
    margin: 0;
    font-family: 'Signika Negative' , sans-serif;
    font-size: 30px;
    max-width: 565px;
}

.services h4 {
    margin: 50px 0 0 0;
    font-family: 'Nunito Sans' , sans-serif;
    font-weight: 100;
    opacity: 60%;
    font-size: 30px;
    text-align: left;
    max-width: 565px;
}

.Experience {
    width: 100%;
    height: 26rem;
    padding: 1.1rem 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.Expert {
    width: 100%;
    height: 26rem;
    padding: 1.25rem 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    align-content: center;
}

.Expert h3 {
    text-align: left;
}

.Expert h4 {
    text-align: left;
}

.containerImage {
    width: 30rem;
    height: 20rem;
    margin: 0 1.875rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eximage {
    width: 100%;
    height: 100%;

    background: no-repeat center center / cover url(images/Background/Services_Experience.png);

    background-position: center;
    box-shadow: -1px -1px 10px #e2e0e6;
}

.chartimage {
    width: 100%;
    height: 100%;
    background: no-repeat center center / cover url(images/Background/Services-Brands.png);
    background-position: center;
    box-shadow: 1px -1px 15px #5fe2b0;
}


/* Brands */

.brands {
    height: 26rem;
    width: 100%;
    padding: 3.125rem 0;
    background-color: #FAF7FF;
}

.brands {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.brands h3 {
    margin: 0;
    font-family: 'Signika Negative' , sans-serif;
    font-size: 36px;
    color: #414141;
    text-align: center;
}

.brands h4 {
    margin: 0;
    font-family: 'Nunito Sans' , sans-serif;
    font-weight: 100;
    font-size: 32px;
    color: #595767;
    text-align: center;
    padding: 0 1.8rem;
}

.brand-logos {
    height: 88px;
    width: 100%;
}

.brand-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.brand-logos {
    padding: 0 60px;
}

.brand1 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/LogosBrands/Adidas_Logo_PNG_\(25\).png);
}

.brand2 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/brands/Levis-Logo-PNG2.png);
}

.brand3 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/brands/Zara-Logo-PNG4.png);
}

.brand4 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/LogosBrands/Banana\ Republic\ logo.png);
}
.brand5 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/brands/Nike-Logo-PNG11.png);
}
.brand6 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/brands/H&M\ Logo.png);
}
.brand7 {
    width: 105px;
    height: 88px;
    background: no-repeat center center / cover url(images/logos/LogosBrands/Gap\ Logo.png);
}
.brand8 {
    width: 105px;
    height: 88px;
    background: no-repeat center center url(images/logos/brands/ASOS_logo_PNG_\(9\).png);
}

.logoBrand {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
}

/*
.animateLogo {
    opacity: 1;
    transform: translateX(0);
    animation-delay: var(--animation-delay);
}
*/
/* LAST CONTENT */

.lastContent {
    position: relative;
    width: 100%;
    height: 25rem;
    color: #FAF7FF;
    background: no-repeat center center / cover url(images/Background/showcase-background.jpg);
    z-index: 1001;
}

.lastContent h4 {
    font-family: 'Nunito Sans' , sans-serif;
    font-weight: 100;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2.25rem;
    text-align: center;
    color: #FAF7FF;
    opacity: .5;
    padding: 0 1.2rem;
}

.lastContent h3 {
    font-family: 'Signika Negative' , sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2rem;
    text-align: center;
    color: #FAF7FF;
    padding: 0 1rem;
}

.lastCta {
    font-size: 15px;
    color: #faf7ff;
    height: 40px;
    width: 220px;
    background-color: #8685ef;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px #8685ef;
    transition: all 0.3s ease-in-out;
}

.lastContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 50px 0px;
}

.lastContent button:hover {
    color: #8685ef;
    background-color: #FAF7FF;
}

@media screen and (max-width:1560px) {
    .services {
        width: 100%;
        height: auto;
        padding: 3rem 0;
        background-color: #414141;
    }
}
 
@media screen and (max-width:1240px) {
    .hero {
        gap : 2rem;
        padding: 0 2rem;
    }

    .heading h2 {
        font-size: 1.2rem;
        max-width: 25rem;
    }

    .showcase {
        height: auto;
        width: 100%;
        padding: 0 1rem;
    }

    .disblay {
        height: auto;
        width: 100%;
        padding: 0 1rem;
    }
    .disblay h4 {
        font-size: 1.8rem; 
    }

    .carousel {
        width: 50rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .services {
        width: 100vw;
    }

    .brands h4 {
        max-width: 45rem;
    }

    .brand-logos {
        width: 50rem;
        padding: 0 3rem;
        margin: 0 0 2rem 0;
        gap: 1.25rem;
        flex-wrap: wrap;
    }

    .containerImage {
        width: 25rem;
        height: 20rem;
    }

    .services {
        padding: 1.875rem 0;
    }

    .Experience  {
        width: 62rem;
        padding: 0 1.25rem;
    }
    .Expert  {
        width: 62rem;
        padding: 0 1.25rem;
    }

    .text h4 {
        font-size: 1.3rem;
        max-width: 25rem;
    }
}

@media screen and (max-width: 1100px) {
    .h-footer {
        padding: 0 1.9rem; 
    }

    .services {
        width: 100%;
    }

    .Experience  {
        width: 100%;
        padding: 0 2.5rem;
    }
    .Expert  {
        width: 100%;
        padding: 0 2.5rem;
    }

    .Experience text h4 {
        max-width: 400px;
        font-size: 1rem;

    }
    .Expert text h4 {
        max-width: 400px;
        font-size: 1rem;
    }
    .containerImage {
        width: 18rem;
        height: 13rem;
    }
}

@media screen and (max-width: 1040px) {
    .carousel {
        width: 40rem;
    }

    .first {
        transform: scale(0.8);
    }

    .first-img {
        transform: scale(0.8);
    }

    .second {
        transform: scale(0.8);
        padding: 20px 10px;
    }

    .second-img {
        transform: scale(0.8);
    }

    .footMenu, .footservices {
        margin: 0 1rem;
    }
    .services {
        width: 100%;
    }

    .Experience  {
        width: 100%;
        padding: 0 1.25rem;
    }
    .containerImage {
        width: 20rem;
        height: 15rem;
    }

    .brands {
        height: 30rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .brand-logos {
        padding-bottom: 10rem;
    }

}

@media screen and (max-width: 987px) {
    .h-footer {
        width: 42rem;
        height: 19.5rem;
        margin: 0 2rem;
        padding: 0 0;
        background-color: #414141;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }
    .l-footer {
        width: 100%;
    }
    .services {
        width: 100%;
    }

    .Experience  {
        width: 100%;
        padding: 0 3rem;
        background-color: #414141;
    }
    .Expert  {
        width: 100%;
        padding: 0 3rem;
        background-color: #414141;
    }
    .containerImage {
        width: 20rem;
        height: 15rem;
    }

    .brands {
        width: 100%;
    }
    .brand-logos {
        width: 45rem;
    }
}

@media only screen and (max-width: 878px) {

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
        padding: 0 2rem;
    }

    .heading {
        align-items: center;
    }
    .heading h1 {
        text-align: center;
        font-size: 2rem;
    }
    .heading h2 {
        text-align: center;
        font-size: 1.3rem;
        max-width: 30rem;
    }
    .drawer {
        display: none;
    }
    .showcase {
        height: 100vh;
        width: 100%;
        padding: 0 1rem;
    }
    .carousel, .table {
        display: none;
    } 
    .brand1, .brand2, .brand3, .brand4, .brand5, .brand6, .brand7, .brand8 {
        background-size: contain;
    }
    .services {
        width: 100%;
    }

    .Experience  {
        width: calc(800px-50px);
    }
    .Experience text {
        height: 15rem;
    }
    .Expert  {
        width: calc(800px-50px);
    }
    .Expert text {
        height: 15rem;
    }
    .containerImage {
        width: 20rem;
        height: 15rem;
    }

    .brand-logos {
        width: 40rem;
    }
}

@media only screen and (max-width: 650px) {
    
    .hero {
        height: 35rem;
    }

    .disblay h4 {
        font-size: 1.5em;
        padding: none;
    }

    .brands h4 {
        font-size: 1.5rem;
    }

    .lastContent h4 {
        font-size: 1.5rem;   
    }

    .containerImage {
        display: none;
    }

    .brands {
        height: 40rem;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .brand-logos {
        padding-bottom: 20rem;
    }
    .brands h4 {
        width: 100%;
        padding: 0 2rem;
    }

    .brand-logos {
        width: 400px;
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        background: no-repeat center / cover url(images/Background/hero-background.jpg);
        height: 35rem;
    }

    .disblay h3 {
        font-size: 1.5rem;
    }
    .disblay h4 {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .carousel {
        width: 10rem;
    }

    /* .table {
        display: block;
        transform: scale(0.6);
    } */ 

    .brand-logos {
        transform: scale(0.8);
    }

    .brands {
        width: 100%;
    }

    .brands h3 {
        font-size: 1.5rem;
    }
    .brands h4 {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .services {
        width: 100%;
        height: 40rem;
    }
    .text {
        justify-content: space-evenly;
    }

    .text h3 {
        font-size: 1.5rem;
    }
    .text h4 {
        font-size: 1rem;
    }

    .lastContent h3 {
        font-size: 1.5rem;
    }
    .lastContent h4 {
        font-size: 1rem;
    }
}