footer {
    width: 100%;
    height: 23.25rem;
    background-color: #414141;
    flex-shrink: 0;
}

.h-footer {
    width: inherit;
    height: 19.5rem;
    background-color: #414141;
    padding: 0 1.2rem;
}

.h-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.company {
    width: 300px;
    height: 192px;
}

.company h4 {
    font-family: 'Nunito Sans' sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    max-width: 200px;
    line-height: 130%;
    color: #FAF7FF;
    opacity: 30%;
    margin: 0;
}

.logocompany {
    width: 300px;
    height: 100px;
    background:  no-repeat center center / cover url(../images/Background/Logo\ A-Fashion.png);
}

.footMenu {
    width: 10rem;
    height: 14rem;
    white-space: nowrap;
}

.footMenu p {
    font-size: 24px;
    font-weight: 400;
    color: #FAF7FF;
    text-decoration: underline;
    text-underline-offset: 25%;
    text-decoration-color: #8685ef;
}

.footMenu a {
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.footMenu a:hover {
    font-weight: 400;
    opacity: 100%;
}

.footMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: start;
}

.footservices {
    width: 10rem;
    height: 14rem;
    white-space: nowrap;
}

.footservices p {
    font-size: 24px;
    font-weight: 400;
    color: #FAF7FF;
    text-decoration: underline;
    text-underline-offset: 25%;
    text-decoration-color: #8685ef;
}

.footservices a {
    text-decoration: none;
    color: #FAF7FF;
    opacity: 50%;
}

.footservices a:hover {
    font-weight: 400;
    opacity: 100%;
}

.footservices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: start;
}

.contacts {
    width: 17.563rem;
    transform: scale(0.85);
    /* height: 11rem;
    margin: 0 1rem; */
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.instagram {
    width: 3.938rem;
    height: 3.75rem;
    background: no-repeat center center / cover url(../images/logos/instagram-logo-facebook-2\ 1.png);
}

.facebook {
    width: 3.938rem;
    height: 3.75rem;
    background: no-repeat center center / cover url(../images/logos/facebook\ 1.png);
}

.twitter {
    width: 3.938rem;
    height: 3.75rem;
    background: no-repeat center center / cover url(../images/logos/twitter-logo-fill\ 1.png);
}

.social {
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.iconsText {
    width: inherit;
    height: 7.188rem;
}

.iconsText p {
    margin: 0;
}

.text {
    font-size: 20px; 
}

.location {
    width: 25px;
    height: 23px;
    background: no-repeat center center / cover url(../images/logos/location\ 1.png);}

.number {
    width: 27px;
    height: 28px;
    background: no-repeat center center / cover url(../images/logos/phone\ 1.png);
}

.mail {
    width: 21px;
    height: 18px;
    background: no-repeat center center / cover url(../images/logos/email-1571\ 1.png);
}

.iconsText {
    display: flex;
    justify-content: space-around;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textFooter {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.l-footer {
    width: 100%;
    height: 60px;
    background-color: #414141;
}

.l-footer a, p {
    text-decoration: none;
    color: #FAF7FF;
}

.l-footer a:hover {
    opacity: 50%;
}

.l-footer {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

@media screen and (max-width: 1040px) {
    .contacts {
        height: 12rem;
        margin: 0 2rem;
    }
}

@media screen and (max-width: 987px) {
    .h-footer {
        height: 28rem;
        margin: 0;
        padding: 0 1.5rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .contacts {
        margin: 0 2rem;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .h-footer, .l-footer {
        width: 100%;
    }
    .h-footer {
        padding: 2.5rem 3rem;
        height: fit-content;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem;
    }

    .company h4 {
        text-align: center;
        max-width: 15rem;
        line-height: 150%;
        color: #FAF7FF;
        opacity: .6;
        margin: 0;
    }

    .footMenu {
        width: 15rem;
        height: 15rem;
        white-space: nowrap;

        justify-content: space-around;
        align-items: center;
    }
    .footMenu p {
        font-size: 2.5rem;
        margin: 0 .5rem;
    }
    .footMenu a {
        font-size: 1.5rem;
    }

    .footservices {
        width: 15rem;
        height: 15rem;
        white-space: nowrap;

        justify-content: space-around;
        align-items: center;
    }
    .footservices p {
        font-size: 2.5rem;
        margin: 0 .5rem;
    }
    .footservices a {
        font-size: 1.5rem;
    }

    .l-footer {
        box-shadow: 0px -5px 500px #FAF7FF;
    }
}