* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    background-color: #FAF7FF;
}

/* NAVIGATION STYLE */

.navigation {
    position: relative;
}

/* INTRODUCTION STYLIZING */

.intro {
    position: relative;
    margin: 0;
    height: 50px;
    width: auto;
    background-color: #F9F7F7;
    z-index: 1;
}

.intro h2 {
    font-size: 36px;
    font-weight: 400;
    color: #414141;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CLOTHES STYLIZING */

.frame {
    position: relative;
    margin: 0;
    height: auto;
    width: auto;
    background-color: #F9F7F7;
    z-index: 1;
}

.head {
    margin: 0;
    width: 100%;
    height: 93px;
    padding: 0 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

head h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
}

.search-bar {
    width: 450px;
    height: 40px;
}

.search-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search {
    text-align: center;
    width: 380px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 0px 1px #414141;
}

.search:hover {
    box-shadow: 0px 0px 10px #8685ef;
}

.submit {
    opacity: 40%;
}

.submit:hover {
    opacity: 1;
}

select {
    color: #414141;
    font-size: 1.17em;
    border: none;
    background-color: #FAF7FF;
    cursor: pointer;
}

select:hover {
    opacity: 70%;
    transition: all 0.2s ease-in-out;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container hr {
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
}

.sidebar {
    position: relative;
    overflow-y: auto;
    font-size: 24px;
    width: 310px;
    height: 930px;
    background-color: #F9F7F7;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
}

.sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
}

    /* Gender */

.gender legend div {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    background: no-repeat center center url(../images/Background/size-gender-icon.png);
}

legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 10px 30px;
}

.gender div {
    line-height: 180%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gender input {
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #414141;
  transition: 0.2s all linear;

  position: relative;
  top: 4px;
}

.gender input:checked {
    border: 10px solid #8685ef;
}

    /* categories */

.categories legend div {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    background: no-repeat center center url(../images/Background/size-folder-icon.png);
}

.categories div {
    line-height: 180%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categories input {
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #414141;
  transition: 0.2s all linear;

  position: relative;
  top: 4px;
}

.categories input:checked {
    border: 10px solid #8685ef;
}
    /* Buttons */

.sidebar-btn {
    width: 280px;
    height: 103px;
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-btn hr {
    border: none;
    background-color: #595767;
    opacity: 40%;
    width: 310px;
    height: 1px;
    opacity: 10%;
}

.sidebar-btn input {
    appearance: none;
    font-size: 20px;
    width: 90px;
    height: 40px;
    border-radius: 50px;
}

.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
}

.container-btn button {
    width: 90px;
    height: 40px;
    font-size: 20px;
    width: 90px;
    height: 40px;
    border-radius: 50px;
}

.btn-apply {
    border-color: #414141;
    background-color: #F9F7F7;
    color: #414141;
    cursor: pointer;
}

.btn-apply:hover {
    border: #595767;
    background-color: #8685ef;
    color: #F9F7F7;
    transition: all 0.1s ease-in-out;
}

.btn-reset {
    border: none;
    background-color: #414141;
    color: #F9F7F7;
    cursor: pointer;
}

.btn-reset:hover {
    opacity: 80%;
}
.main {
    width: 1200px;
    height: 930px;
    background-color: #F9F7F7;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    overflow-y: auto;
}

.mainBlur {
    position: sticky;
    height: 3vh;
    bottom: 0;
    padding: 0 50px;
    width: 1124px;
    mask: linear-gradient(to top,rgb(120, 180, 230), rgb(223, 98, 196), transparent);
    backdrop-filter: blur(4px);
    pointer-events: none;
}

.animateContent {
    animation: moveInUp .3s forwards;
}

.itemMain {
    width: 250px;
    height: 288px;  
    margin: 20px; 
}

.lurreMain {
    width: 250px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 20px 20px 0px 0px;
}

.lurreMain {
    display: flex;
    overflow: hidden;
}

.itemDivImage {
    width: 250px;
    height: 200px;
}

.lurreMain:hover {
    background-color: #8685ef;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px #8685ef;
}

.infoMain {
    width: 250px;
    height: 90px;
    background-color: #faf8f8;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.infoMain button {
    border: none;
    width: 104px;
    height: 27px;
    background-color: #8685ef;
    border: none;
    color: #FAF7FF;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.infoMain button:hover {
    background-color: #FAF7FF;
    color: #8685ef;
    box-shadow: 0 0 10px #8685ef;
    transition: all 0.2s ease-in-out;
}

.infoMain h4 {
    margin: 0;
    color: #414141;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    white-space: wrap;
}

.infoMain h5 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #595767;
}

.noContentFound {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.noContentFound img {
    width: 200px;
    height: 200px;
}
.noContentFound h2 {
    padding: 0;
    margin: 20px 0;
    padding: 0;
    font-weight: 300;
    text-align: center;
}
.noContentFound h3 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

@keyframes moveInUp {
    0% {
        opacity: 0.9;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 1250px) {
    main {
        width: 100%;
    }
}
@media only screen and (max-width: 1100px) {
    main {
        width: 100%;
    }
}
@media only screen and (max-width: 878px) {
    main {
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    main, .frame {
        width: 100%;
    }

    .search-bar {
        width: 15rem;
    }
    .search-bar #searchInput {
        width: 10rem;
    }
    .head {
        margin: 0;
        width: 100%;
        height: 2.5rem;
        padding: 0 1rem;

        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 480px) {

    .search-bar #searchInput {
        width: 15rem;
    }
    .head {
        margin: 0;
        width: 100%;
        height: 2.5rem;
        padding: 0 1rem;

        display: flex;
        justify-content: space-evenly;
    }

    .search-bar {
        width: 18rem;
        justify-content: space-between;
    }

    .head h3 {
        display: none;
    }

    select {
        display: none;
    }

}